{%extends "inicio.html"%}

{% load static %}


{% block maleable %}


<CENter><h1>Libros</h1></CENter>

<center>
    <img src="https://www.lavanguardia.com/files/article_main_microformat/uploads/2019/04/21/5fa523af58c79.jpeg"height="500px" width="500px">
</center>
    

        




    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/orgulloyprejuicio-1524221030.jpg?crop=1xw:1xh;center,top&resize=480:*" height="200px" width="200px">
    <ul>
        <a href="prestamos">¡PRESIONE AQUI!</a>
    </ul>




   


{%endblock %}